* {
	font-family: JetBrains Mono;
	font-size: 20px;
}

window#waybar {
	color: #eceff4;
	background: #2e3440;
}

#backlight {
	color: #eceff4;
}

#battery {
	color: #eceff4;
}

#clock {
	color: #eceff4;
}

#cpu {
	color: #eceff4;
}

#disk {
	color: #eceff4;
}

#memory {
	color: #eceff4;
}

#network {
	color: #268bd2;
}

#pulseaudio {
	color: #eceff4;
}

tooltip {
	background: #2e3440;
    border: 0;
    padding: 0;
}

button {
	color: #eceff4;
    border: none;
    border-radius: 0;
    padding: 0;
}

button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: inherit;
}

#workspaces button {
    background: #2e3440;
    padding: inherit;
}

#workspaces button:hover {
    background: #2e3440;
    padding: inherit;
}

#workspaces button.focused {
    background: #4c566a;
    padding: inherit;
}

#workspaces button.urgent {
    background: #bf616a;
    padding: inherit;
}
